/*****************************************************************
$GENERAL
*****************************************************************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.85rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  background-color: rgb(250, 250, 250);
}



/*****************************************************************
$NAVBAR
*****************************************************************/
.navbar {
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid rgba(0,0,0,.08);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px rgba(0,0,0,.03);
}

.navbar__container {
  display: flex;
  align-items: center;
  width: 97%;
  max-width: 62em;
  margin: 0 auto;
}

.header__logo--image {
  width: 2.2rem;
  height: 2.2rem;
}

.header__logo--small-m {
  fill: rgb(90, 90, 90);
}

.header__logo--big-m {
  fill: rgb(140, 140, 140);
}

.header__link {
  margin-right: 1rem;
  font-weight: 300;
  text-decoration: none;
  transition: .1s color;
}

.header__link--new {
  display: block;
  margin-left: auto;
}

.header__link--chromeless {
  color: #8f8f8f;
}

.header__link--chromeless:hover {
  color: #666666;
}

.header__link--accent {
  color: #02b875;
}

.header__link--accent:hover {
  color: #1c9963;
}

.search__icon {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  fill: #8f8f8f;
  transition: .1s all;
}

.search__icon:hover {
  fill: #444;
  transform: scale(1.04);
}

.search__input {
  max-width: 6rem;
  border: 0;
  vertical-align: middle;
  color: #444;
  font-size: 0.85rem;
  font-weight: 100;
}

.search__input:focus {
  outline: 0;
}

.navbar__profile-container {
  position: relative;
}

.navbar__user-avatar {
  margin-left: 0.5rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.navbar__user-popover {
  position: absolute;
  right: 0%;
  top: 137%;
  width: 300%;
  display: none;
  flex-direction: column;
  padding: 1rem 1rem;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
}

.navbar__user-popover--active {
  display: flex;
}

.user-popover__link {
  font-weight: 300;
  text-decoration: none;
  transition: .1s color;
}

.user-popover__link:not(:last-child) {
  margin-bottom: 0.8rem;
}

.user-popover__link--chromeless {
  color: #8f8f8f;
}

.user-popover__link--chromeless:hover {
  color: #666666;
}




/*****************************************************************
$MAIN CONTENT HOME
*****************************************************************/
.content__main {
  padding-top: 2rem;
}

.content__container {
  max-width: 62em;
  margin: 0 auto;

}

.item__card {
  margin-bottom: 1rem;
  padding: 1rem 0 1rem 0rem;
  border-top: 1px solid rgba(0,0,0,.09);
  border-bottom: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
}

@media screen and (min-width: 48em) {
  .item__card {
    padding: 1rem 1rem 2rem 1rem;
    border: 1px solid rgba(0,0,0,.09);
  }
}

.item__header {
  display: flex;
  align-items: center;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.6rem;
}

@media screen and (min-width: 48em) {
  .item__header {
    width: 100%;
  }
}

.item__avatar {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.6rem;
  border-radius: 50%;
}

.item__date {
  margin-left: auto;
  color: #8f8f8f;
}

.item__link--article {
  text-decoration: none;
}

.item__image {
  width: 100%;
  height: 16rem;
  background-size: cover;
  background-position: center;
  margin-bottom: 0.6rem;
}

.item__title {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.6rem;
  color: rgb(51, 51, 51);
}

@media screen and (min-width: 48em) {
  .item__title {
    width: 100%;
  }
}

.item__summary {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  color: #8f8f8f;
}

.item__summary p {
  color: #8f8f8f;
}

@media screen and (min-width: 48em) {
  .item__summary {
    width: 100%;
  }
}



/*****************************************************************
$MAIN CONTENT POST
*****************************************************************/
.story-form__card {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
}

@media screen and (min-width: 48em) {
  .story-form__card {
    padding: 1rem 1rem 1rem 1rem;
  }
}

.story__input--title {

}

.story__input--title, .story__input--body, .story__input--image-url {
  margin-bottom: 0.7rem;
  padding: 0.6rem;
  border: solid 1px #dfdfdf;
  border-radius: 2px;
}

.story__input--body {
  height: 20rem;
}

.story-form__btn {
  width: 100%;
  margin-top: 0.7rem;
  padding: 0.7rem;
  background-color: #02b875;
  color: white;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.story-form__btn:hover {
  background-color: #1c9963;
}



/*****************************************************************
$FOOTER
*****************************************************************/
.footer__container {
  max-width: 62em;
  margin: 0 auto;
  border: 1px solid #000;
}



/*****************************************************************
$LOGIN DIALOG
*****************************************************************/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.8);
  overflow: auto;
}

.overlay-active {
  display: flex;
}

.dialog {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30em;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
}

.dialog__btn--close {
  width: 2rem;
  margin-left: auto;
  padding: 0.5rem;
  background-color: #bbb;
  color: white;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.dialog__btn--close:hover {
  background-color: #aaa;
}

.login-form, .register-form {
  display: flex;
  flex-direction: column;
}

.login-form {
  margin-bottom: 1rem;
}

.login-form__input, .register-form__input {
  margin-top: 0.7rem;
  padding: 0.6rem;
  border: solid 1px #dfdfdf;
  border-radius: 2px;
}

.login-form__error, .register-form__error, .story-form__error {
  color: tomato;
  padding: 4px 0 0 0;
  text-align: center;
}

.login-form__btn--submit, .register-form__btn--submit {
  width: 100%;
  margin-top: 0.7rem;
  padding: 0.7rem;
  background-color: #02b875;
  color: white;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.login-form__btn--submit:hover, .register-form__btn--submit:hover {
  background-color: #1c9963;
}



/*****************************************************************
$ERRORS
*****************************************************************/
.error__card {
  margin-bottom: 1rem;
  padding: 2rem;
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
}

.error__message {
  color: #8f8f8f;
  text-align: center;
}
