<header class="header__main">
  <div class="header__container">

    <img class="header__logo" src="https://cdn-static-1.medium.com/_/fp/icons/favicon-medium.TAS6uQ-Y7kcKgi0xjcYHXw.ico">
    <button class="header__btn header__btn--new">+</button>
    <button class="header__btn header__btn--login">@</button>

    <form class="search__form" action="/search-articles">
      <input class="search__input"type="text" />
    </form>

  </div>
</header>
