<div class="overlay" id="js-overlay">
  <div class="dialog" id="js-dialog">

    <h3 class="login-form__title">Login with GitHub</h3>
    <a href="/login-with-github">Login with GitHub</a>

    <button class="dialog__btn--close" id="js-dialog-close-btn">X</button>
    <form class="login-form" id="js-login-form" action="/login" method="POST">
      <h3 class="login-form__title">Login</h3>
      <input type="text" class="login-form__input"name="username" placeholder="Enter username" required autocomplete="off"/>
      <input type="password" class="login-form__input"name="password" placeholder="Enter password" required autocomplete="off"/>
      <p class="login-form__error" id="js-auth-error"><p>
      <button class="login-form__btn--submit" type='submit'>Submit</button>
    </form>

    <form class="register-form" id="js-register-form" action="/register" method="POST">
      <h3 class="register-form__title">Create a new account</h3>
      <input type="text" class="register-form__input" name="username" placeholder="Enter username" required />
      <input type="text" class="register-form__input" name="first_name" placeholder="Enter first name" required />
      <input type="text" class="register-form__input" name="last_name" placeholder="Enter last name" required />
      <input type="text" class="register-form__input" name="avatar_url" placeholder="Enter url to your profile picture" required />
      <input type="password" class="register-form__input"name="password" placeholder="Enter password (at least 1 number)" required />
      <input type="password" class="register-form__input"name="confirmed-password" placeholder="Confirm password" required />
      <p class="register-form__error" id="js-auth-error"><p>
      <button class="register-form__btn--submit" type='submit'>Submit</button>
    </form>

  </div>
</div>
