<header class="navbar">
  <div class="navbar__container">

    {{> logo}}


    {{#if credentials.username}}

    <a href="/write-a-story" class="header__link header__link--new header__link--accent">
     Write a story
    </a>

    {{else}}

    <a href="/login-register" class="header__link header__link--new header__link--chromeless" id="js-new-story-link">
     Write a story
    </a>

    <a href="/login-register" class="header__link header__link--accent" id="js-login-link">
      Log in / Register
    </a>

    {{/if}}


    <form class="search__form" action="/search" method="get">
      <svg class="search__icon" viewBox="0 0 25 25">
        <path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624
        0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13
        4.75-4.75 4.75S6.5 13.62 6.5 11z"/>
      </svg>
      <input class="search__input" name="q" type="text" placeholder="Search articles" required autocomplete="off"/>
    </form>

    {{#if credentials.username}}
      <div class="navbar__profile-container">
        <img class="navbar__user-avatar" src="{{credentials.avatar_url}}" id="js-user-avatar"/>
        <div class="navbar__user-popover" id="js-navbar-popover">
          <a href="/@{{credentials.username}}" class="user-popover__link user-popover__link--chromeless">
            Edit profile TBA
          </a>
          <a href="/logout" class="user-popover__link user-popover__link--chromeless">
            Sign out
          </a>
        </div>
      </div>
    {{/if}}


  </div>
</header>
