<main class="content__main">
    <section>
      <div class="content__container">
        <form class="postForm" method="POST" action="/submitpost">
            <label class="postForm__label" for="postTitle">Title
      <input class= "postForm__input" id="postTitle" type="text"></input>
      </label>

            <label class="postForm__label" for="postImageURL">Image URL
      <input class= "postForm__input" id="postImageURL" type="text"></input>
      </label>

            <label class="postForm__label" for="postBody">Post
      <textarea class="postForm__textarea" id="postBody" type="text"></textarea>
      </label>

            <button type="submit" class="postForm__button">Submit Your Story</button>
</form>
</div>
</section>
</main>
