<main class="post__main">
    <section class="post__container">

        <form class="postForm" method="POST" action="/submitpost">
            <label class="postForm__label" for="postTitle">Title
      <input class= "postForm__input" id="postTitle" type="text"></input>
      </label>

            <label class="postForm__label" for="postImageURL">Image URL
      <input class= "postForm__input" id="postImageURL" type="text"></input>
      </label>

            <label class="postForm__label" for="postBody">Post
      <input class="postForm__input" id="postBody" type="text"></input>
      </label>

            <button type="submit" class="postForm__button">Submit Your Story</button>
</form>
