<form class='login-form' action='/register' method='POST'>
  <label for='username'>Username:</label>
  <input id='username' type='text' name='username' placeholder='Username' required><br>
  <label for='password'>Password:</label>
  <input id='password' type='password' name='password' placeholder='Password' required><br>
  <label for='avatar_url'>Avatar:</label>
  <input id='avatar_url' type='avatar_url' name='avatar_url' placeholder='Image url' required><br>
  <input type='submit' value='submit'>
</form>
