<main class="content__main">
  <div class="content__container">

    <form class="story-form__card" method="POST" action="/write-a-story">
      <h2 class="story-form__title">Write a story using GitHub flavoured markdown</h2>
      <input class="story__input--title" name="title" type="text" placeholder="Title" required />
      <textarea class="story__input--body" name="body_text" type="text" placeholder="Tell your story..." required></textarea>
      <input class="story__input--image-url" name="image_url" type="text" placeholder="Add link to an image" required />
      {{#if error}}
        <p class="story-form__error">{{error}}<p>
      {{/if}}
      <button type="submit" class="story-form__btn">Submit Your Story</button>
    </form>

  </div>
</main>
